# Node/Next.js
node_modules/
.next/
.out/
out/
.turbo/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.python-version
.venv/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env & logs
.env
!.env.example
.env.*
*.log

# Docker
*.pid
.dump/

# Large media files
*.mp4
*.avi
*.mov
*.mkv
*.wmv
*.flv
*.webm
